
<li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
      {% assign author-link = 'authors' | append: '/' | append: post.author|downcase|replace:'"', ''|replace:' ', '-'|replace:'[', ''|replace:']', '' %}
      <a class="post-meta" href="{{ author-link | relative_url }}">{{ post.author | default}}</a>
    </h3>
    {%- if site.show_excerpts -%}
      {{ post.excerpt }}
    {%- endif -%}
  </li>