---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        {% assign author-link = 'authors' | append: '/' | append: page.author|downcase|replace:'"', ''|replace:' ', '-'|replace:'[', ''|replace:']', '' %}
        • <a class="post-meta" href="{{ author-link | relative_url }}">{{ page.author | default}}</a>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  <div class="related-posts">
    <h2>Postări similare</h2>
    <ul>
  {% assign titles = "A,A" | split: "," %}
  {% for category in site.categories %}
    {% for page_category in page.categories %}
      {% if page_category == category[0] %}
        {% for post in category[1] %}
          {% assign check = 1 %}
          {% for similar_post in titles %}
            {% if similar_post == post.title %}
              {% assign check = 0 %}
            {% endif %}
          {% endfor %}
          {% if post.title != page.title %}
            {% if check == 1 %}
              <li><a href="{{ post.url | relative_url}}">{{ post.title }}</a></li>
              {% assign titles = titles | join: "," %}
              {% assign titles = titles | append: "," | append: post.title %}
              {% assign titles = titles | split: "," %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
</div>
</article>
